#background {
    background: maroon;
}

.pages {
    color: darkgoldenrod;
}

#appTitle {
    text-align: center;
    font-family: Verdana;
}

.compBut {
    height:34px;
    margin:0 auto;
    margin-right:10px;
    
}

.read {
    color: darkgoldenrod;
    font-family: Verdana;
}